{% extends "_includes/layout-home.njk" %}

{% block title %}JamComments: Stupid, Simple, Static Comments{% endblock %}

{% block content %}
    <div class="max-w-5xl mx-auto px-3">
        <div class="text-center pt-10 mx-auto max-w-3xl">
            <h1 class="font-bold text-3xl md:text-6xl leading-tight mb-4">Stupid, Simple Comments for the Jamstack</h1>
            <h2 class="text-xl md:text-2xl">
                statically rendered, ad-free, nothing fancy.
            </h2>
        </div>

        {# <div class="my-20">
            <hr class="max-w-3xl mx-auto block h-1 rounded-sm bg-gray-200 my-5 shadow-none border-0" />

            <ul class="grid grid-cols-1 md:grid-cols-3 gap-6">
                {% for perk in homeSteps %}
                    <li class="text-center">
                        <h3 class="text-2xl mb-3 font-semibold">{{ perk.heading }}</h3>
                        <p>{{ perk.description }}</p>
                    </li>
                {% endfor %}
            </ul>

            <hr class="max-w-3xl mx-auto block h-1 rounded-sm bg-gray-200 my-5 shadow-none border-0" />
        </div> #}

        <div class="h-16 md:h-20 my-12 md:my-16">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 17l-4 4m0 0l-4-4m4 4V3" />
            </svg>
        </div>

        {% include 'home-highlights.njk' %}

        <a href="https://forms.gle/xAzomMoSusfHsyYs6" rel="noopener noreferrer" target="_blank">
            Sign Up
        </a>
        
    </div>
{% endblock %}
