---
layout: layout-main.njk
title: "JamComments: Stupid-Simple, Static Comments"
---

{% macro transitionArrow (text, icon, id) %}
  <div class="relative flex justify-center bg-gray-100 p-6 mx-auto w-screen left-[50%] transform -translate-x-1/2">
    <span class="w-20 md:w-32 h-20 md:h-32">
      {% include icon %}
    </span>
    <a href="#{{id}}" class="text-2xl flex items-center font-thin pl-3 outline-none" id="{{id}}">
      {{ text }}
    </span>
  </div>
{% endmacro %}

<div class="px-1 md:px-6">
  <div class="max-w-5xl mx-auto px-3">

    <div class="mb-36 lg:mb-32 mt-12 lg:mt-16">
      {% include 'home/hero.njk' %}
    </div>

    <div class="block md:hidden text-center -mt-20 mb-20 md:mb-12">
      {% include 'interest-button.njk' %}
    </div>

    <div class="slice">
      {% include 'home/intro.njk' %}
    </div>

    <div class="slice">
      {{ transitionArrow("A different comment management system.", "svg/bulb.svg", "perks")  }}
    </div>

    <div class="slice" id="highlights">
      {% include 'home/highlights.njk' %}
    </div>

    <div class="slice">
      {{ transitionArrow("With the basic moderation tools you'd expect.", "svg/lock.svg", "moderation")  }}
    </div>

    <div class="slice" id="admin">
      {% include 'home/admin.njk' %}
    </div>

    <div class="slice">
      {{ transitionArrow("And straightforward pricing.", "svg/dollar.svg", "pricing")  }}
    </div>

    <div class="slice" id="pricing">
      {% include 'home/pricing.njk' %}
    </div>

    <div class="slice">
      {{ transitionArrow("So, choose your integration.", "svg/server.svg", "integrations")  }}
    </div>

    <div class="slice" id="integrations">
      {% include 'home/integrations.njk' %}
    </div>

    <hr class="max-w-3xl mx-auto block h-1 rounded-sm bg-gray-200 mt-5 mb-10 shadow-none border-0" />

    {% include 'home/final-cta.njk' %}

  </div>
</div>
