<ul class="space-y-12">
    {% for highlight in homeHighlights %}
        <li>
            <h2 class="text-2xl font-semibold leading-snug mb-2">
                {{ highlight.heading | safe }}
            </h2>
            <p>
                {{ highlight.description | safe }}
            </p>
        </li>
    {% endfor %}
<ul>