---
layout: layout-main.njk
sidebar_items:
  -
    title: General
    sub_items:
      -
        title: Getting Started
        url: /docs/getting-started
      -
        title: Local Development
        url: /docs/development
      -
        title: Importing Comments
        url: /docs/import
      -
        title: Frequently Asked Questions
        url: /docs/faq
      -
        title: Contributor Authentication
        url: /docs/authentication
      -
        title: Fetch Options
        url: /docs/fetching
  -
    title: Integrations
    sub_items:
      -
        title: Astro
        url: /docs/integrations/astro
      -
        title: Bridgetown
        url: /docs/integrations/bridgetown
      -
        title: Eleventy
        url: /docs/integrations/eleventy
      -
        title: Gatsby
        url: /docs/integrations/gatsby
      -
        title: Jekyll
        url: /docs/integrations/jekyll
      -
        title: Next.js
        url: /docs/integrations/next
      -
        title: Remix
        url: /docs/integrations/remix
---

<div class="content-layout">

  <div class="md:hidden relative cursor-pointer bg-gray-100 w-screen left-[50%] transform translate-x-[-50%] text-center">
    <button class="w-full px-4 py-4 flex items-center" id="documentationNavigation">
      <i class="block w-8 h-8 mr-3 transition-all">
        {% include "svg/menu.svg" %}
      </i>
      Documentation Navigation
    </button>
  </div>

  <aside class="w-full md:w-[200px] hidden md:block" id="sidebar">
    <div class="pt-10 px-4 md:px-0">
      {% include "side-nav.njk" %}
    </div>
  </aside>

  <div class="overflow-auto">
    <main class="content">
      <h1>
        {{ title }}
      </h1>

      <div class="prose max-w-3xl">
        {{ content | safe }}
      </div>
    </main>
  </div>
</div>
