<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}JamComments{% endblock %}
        </title>
        <meta charset="UTF-8"/>

        {% if description %}
            <meta name="description" content="{{description}}"/>
        {% endif %}

        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
        <style type="text/css">{{googleFontsStylesheet | safe}}</style>
        <link rel="stylesheet" href="/style.css?v={% version %}"/>

        {% include "google-analytics.njk" %}
        
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="flex justify-between p-5 flex-col items-center space-y-4 md:flex-row">
            <span class="text-xl">JamComments</span>

            <ul class="flex space-x-3">
                <li>
                    <a 
                        class="button"
                        href="#interest">Get Notified When Live</a>
                </li>   
            </ul>
        </nav>

        {% block content %}
            {{ content | safe }}
        {% endblock %}

        <footer class="text-center mt-16 p-5">
            <span>&copy; 2020 JamComments | Created by <a target="_blank" rel="noopener noreferrer" href="https://macarthur.me">Alex MacArthur<a>.
        </footer>

        {% set js %}
            {% include "scripts.js" %}
        {% endset %}

        <script>
            {{ js | jsmin | safe }}
        </script>
    </body>
</html>