---
nav_items:
  -
    title: Documentation
    url: /docs/getting-started
  -
    title: Pricing
    url: /#pricing
  -
    title: Integrations
    url: /#integrations
  -
    title: Highlights
    url: /#highlights
  -
    title: Sign Up or Log In
    url: SIGNUP
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{ title }}
    </title>
    <meta charset="UTF-8"/>
    <meta name="description" content="A statically rendered, ad-free, intentionally boring solution to adding comments to your Jamstack site."/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <meta property="og:title" content="JamComments: Stupid-Simple Comments for the Jamstack" />
    <meta property="og:image" content="https://jamcomments.com/assets/img/open-graph.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="A statically rendered, ad-free, intentionally boring solution to adding comments to your Jamstack site.">

    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link href="{{ '/assets/dist/style.css' | url }}" rel="stylesheet">

    <style type="text/css">{{googleFontsStylesheet | safe}}</style>

    {% include "plausible-analytics.njk" %}

    {% block head %}{% endblock %}
  </head>
  <body>
    {% include 'nav.njk' %}

    {% block content %}
      {{ content | safe }}
    {% endblock %}

    <footer class="text-center mt-16 p-5">
      <div class="flex flex-col-reverse lg:flex-row lg:justify-between">
        <span>
          &copy; 2020 JamComments | Created by <a class="font-light" target="_blank" rel="noopener noreferrer" href="https://macarthur.me">Alex MacArthur<a>
        </span>

        <ul class="flex space-x-4 justify-center mb-4 lg:mb-0">
          <li>
            <a href="https://macarthur.me/contact" class="font-light">Contact Me</a>
          </li>
          <li>
            <a href="/privacy-policy" class="font-light">Privacy Policy</a>
          </li>
        </ul>

      </div>
    </footer>

    <script src="{{ '/assets/dist/jam-comments.umd.js' | url }}"></script>
  </body>
</html>
