---
layout: layout-main.njk
---

<div class="max-w-2xl mx-auto content px-2">
    <div class="grid grid-cols-1">
      <h1>
        {{ title }}
      </h1>
        {{ content | safe }}
    </div>
</div>
