---
layout: layout-main.njk
---

<div class="overflow-auto">
  <main class="content px-2 max-w-4xl mx-auto">
    <h1>
      {{ title }}
    </h1>

    <div class="prose max-w-3xl page-content">
      {{ content | safe }}
    </div>
  </main>
</div>
