---
layout: layout-main.njk
---

<div class="overflow-auto">
  <main class="content">
    <h1>
      {{ title }}
    </h1>

    <div class="prose max-w-full">
      {{ content | safe }}
    </div>
  </main>
</div>
