{% extends "_includes/layout-main.njk" %}

{% block content %}
    <div class="max-w-2xl mx-auto content px-2">
        <div class="grid grid-cols-1">
            {{ content | safe }}
        </div>
    </div>
{% endblock %}