<nav class="flex justify-between p-5 flex-col items-center space-y-4 md:flex-row">
    <a href="/" class="text-xl font-normal">JamComments</a>

    <ul class="space-x-3 hidden md:flex">
        <li>
            {% include 'interest-button.njk' %}
        </li>
    </ul>
</nav>
