{% if site.isProd %}
  <script defer data-domain="jamcomments.com" src="/js/numbers.js"></script>
  <script>
    window.plausible = window.plausible || function() {(window.plausible.q = window.plausible.q || []).push(arguments)}
  </script>
{% endif %}
