@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  &:not(code[class^=language]):not(code[class^=language] *) {
    font-family: "Heebo", sans-serif;
  }

  font-weight: 300;
}

code:not([class^=language]) {
  @apply bg-gray-200 py-0 px-1 rounded-sm;
}

pre[class^=language] {
  @apply my-6 overflow-auto;
}

html {
  scroll-behavior: smooth;
}

svg {
  @apply max-w-full max-h-full;
}

a {
  @apply font-semibold;
}

.button {
  @apply bg-gray-200 rounded-md py-3 px-4 text-gray-800 shadow-sm border-gray-200 border-2;
}

.button:hover {
  @apply border-gray-300;
}

.button--inverse {
  @apply bg-white border-gray-400;
}

.slice {
  @apply my-12;

  @screen md {
    @apply my-16;
  }
}

.side-nav-link {
  @apply font-light text-base text-gray-600 inline-block w-full relative;

  &:hover {
    @apply text-gray-800;
  }
}

.is-on-page {
  @apply text-gray-700;

  &:before {
    @apply absolute bg-indigo-100 rounded-sm;
    width: calc(100% + 1rem);
    height: calc(100% + .5rem);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    z-index: -1;
  }
}

.hoverable-link {
  position: relative;

  &:before {
    @apply absolute block w-0 rounded-md;
    transition: all .05s ease-in-out;
    content: "";
    height: 5px;
    width: 100%;
    opacity: 0;
    bottom: 0;
    background: theme('colors.indigo.100');
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.content {
  h1 {
    @apply text-4xl mb-3 font-bold;
  }

  p {
    @apply mb-3;
  }

  a {
    @apply font-medium;
  }

  h2,
  h3,
  h4,
  h5 {
    @apply text-2xl mt-5 mb-3 font-normal;
  }

  h3 {
    @apply text-xl;
  }

  p, span, li, li {
    @apply text-gray-700 leading-normal;
  }
}

code {
  * {
    font-size: 1rem !important;
  }
}

.menu-open {
  @apply flex;
}

.body-menu-open {
  @apply overflow-hidden;
}

.sidebar {
  width: 200px;
}

.content-layout {
  @apply grid;
  grid-template-columns: 200px auto;
}
