<div class="text-center mt-20">
  <span class="text-3xl font-thin mb-10 block">
    And that's the pitch. Now, sign up:
  </span>

  <a
    class="button button--inverse"
    href="{{ site.signUpUrl }}">
      Sign Up
  </a>
</div>
