<div class="text-center">
  <span class="text-3xl font-thin mb-10 block">
    Your blog isn't complicated. Comments shouldn't be either.
  </span>

  <a
    class="button button--bright"
    href="{{ site.registerUrl }}?utm_source=final_cta&utm_medium=website"
    target="_blank"
    data-sign-up-link="bottom"
    >
    Create a Free Account
  </a>
</div>
