<div class="text-center">
  <span class="text-3xl font-thin mb-10 block">
    And that's the pitch. Now, sign up:
  </span>

  <a
    class="button button--inverse"
    href="{{ site.signUpUrl }}"
    target="_blank"
    data-sign-up-link="bottom"
    >
    Sign Up
  </a>
</div>
