<div class="text-center pt-8 md:pt-12 mx-auto max-w-3xl">
  <h1 class="font-bold text-4xl md:text-6xl leading-tight mb-4">Stupid-Simple Comments for the Jamstack</h1>
  <h2 class="text-xl md:text-2xl">
      statically rendered, ad-free, intentionally boring.
  </h2>
</div>
