<div class="text-center pt-8 md:pt-12 mx-auto max-w-3xl">
  <h1 class="text-3xl md:text-6xl font-bold mb-2">
    A guilt-free comment service for static blogs.
  </h1>

  <h2 class="text-lg md:text-2xl leading-tight mb-12 max-w-xl mx-auto">
    SEO-friendly, ad-free, no bloat. Just simple, static comments.
  </h2>

  <a
    class="button button--bright"
    href="{{ site.registerUrl }}?utm_source=hero_cta&utm_medium=website"
    target="_blank"
    data-sign-up-link="bottom"
    >
    Get Started for Free
  </a>
</div>
