<div class="max-w-5xl mx-auto">
  <ul class="flex flex-wrap md:flex-nowrap gap-8 justify-center md:justify-between">
    {% for integration in integrations %}
      <li class="text-center">
        <h3 class="text-3xl font-bold mb-8">
          {{ integration.heading }}
          <span>
            Integration
          </span>
        </h3>
        <div class="flex flex-col justify-center items-center space-y-3">
          <a href="{{ integration.docs }}" class="button button--inverse">
            Integration Docs
          </a>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
