<div class="max-w-5xl mx-auto py-16 px-12 gap-12">
  <ul class="grid grid-cols-{{ integrations.length }}">
    {% for integration in integrations %}
      <li class="text-center">
        <h3 class="text-3xl font-bold mb-8">
          {{ integration.heading }}
          <span>
            Integration
          </span>
        </h3>
        <div class="space-x-3">
          <a href="{{ integration.docs }}" class="button">
            Integration Docs
          </a>
          <a href="{{ integration.platform_docs }}" target="_blank" rel="noreferrer noopener">
            Platform Docs
          </a>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
