<div class="mb-10 max-w-3xl mx-auto md:text-center">
  <h2 class="text-2xl font-semibold mb-3">Your Jamstack blog isn't complicated. Comments shouldn't be either.</h2>
  <p class="text-lg">
    Today, options to collect &amp; display comments on your static site require either manually piecing together a hodge-podge of technologies, or selling yourself (and your readers) to a soulless third-party service. JamComments doesn't try to be anything other than a stupid-simple comment service that's easy to set up and doesn't leave you feeling guilty after doing so.
  </p>
</div>
