<div class="max-w-3xl mx-auto md:text-center">
  <h2 class="text-2xl font-semibold mb-3">Your Jamstack blog isn't complicated. Comments shouldn't be either.</h2>
  <p class="text-lg">
    Today, adding comments to your static site requires either cobbling together a hodge-podge of technologies, or selling your soul to third-party provider that monetizes your data. JamComments is different, trying to be nothing more than a stupid-simple comment service that's easy to set up and doesn't leave you feeling guilty.
  </p>
</div>
