<div class="max-w-3xl mx-auto md:text-center">
  <h2 class="text-2xl font-semibold mb-8">
    You don't need to sell your soul to put comments on your static site.
  </h2>

  <div class="text-lg text-left">
    <p class="mb-6">
      There aren't many great options for supporting comments on a blog powered by a static site generator. What does exist is either too complicated to set up, or involves selling your soul to a third-party provider that <a href="https://www.macarthur.me/posts/keep-using-disqus-if-you-dont-care" target="_blank" rel="noopener" class="underline">bastardizes your privacy, kills your site's performance, and compromises your SEO</a> (👋, Disqus!). The tradeoffs are just too high.
    </p>

    <p>
      JamComments is different. It's a simple comment service with the fundamental features you need, and none of the bloat you don't.
    </p>
  </div>
</div>
