@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  &:not(code[class^=language]):not(code[class^=language] *) {
    font-family: "Heebo", sans-serif;
  }

  font-weight: 300;
}

code:not([class^=language]) {
  @apply bg-gray-200 py-0 px-1 rounded-sm;
}

pre[class^=language] {
  @apply my-4 overflow-auto;
}

html {
  scroll-behavior: smooth;
}

svg {
  @apply max-w-full max-h-full;
}

a {
  @apply font-semibold;
}

.button {
  @apply bg-gray-200 rounded-sm py-1 px-4 text-gray-800 shadow-sm border-gray-200 border-2;
}

.button:hover {
  @apply border-gray-300;
}

.content {
  h1 {
    @apply text-4xl mb-3;
  }

  p {
    @apply mb-3;
  }

  a {
    @apply font-medium;
  }

  h2,
  h3,
  h4,
  h5 {
    @apply text-2xl mt-5 mb-2;
  }

  h3 {
    @apply text-xl;
  }
}

code {
  * {
    font-size: 1rem !important;
  }
}

.sidebar {
  width: 200px;
}
